{% extends "layout.html" %}
{% block content %}
    <h1>M3 Technology Blog</h1>
    <div class="content-section">
        <h1>You don't have permission to do that (403)</h1>
        <p>Please check your account and try again</p>
    </div>
{% endblock content %}
