{% extends "layout.html" %}
{% block content %}
    <h1>M3 Technology Blog</h1>
    <div class="content-section">
        <h1>Something went wrong (500)</h1>
        <p>We're experiencing some trouble on our end. Please try again in the near future</p>
    </div>
{% endblock content %}
