{% extends "layout.html" %}
{% block content %}
    <h1>About Page</h1>
    <p>The M3 Consulting Technology Blog is a modified version of the Corey Schafer Flask tutorial with database.
        The posts are visible to anyone who visits the page, and registered users can write a new post.
        Registered users can also edit and delete their posts. There is a user profile page where users can upload
        a profile picture, which is scaled down to a size of 125x125.
    </p>
    <p>Register your free account, Login, and try it out.</p>
{% endblock content %}
