{% extends "layout.html" %}
{% block content %}
    <div class="introduction">
        <h4>What is an operating system?</h4>
        <p>An Operating System is the first bit of software that gets put on a computer.
            The two most famous operating systems are Mac and Windows, but there are other operating systems too.
            Linux is one of those other operating systems. On top of the operating system, a computer has apps,
            just like a phone has apps. Sometimes an app has versions for multiple operating systems, like Chrome.
            The Chrome app can run on Mac or windows or your phone. (the phone has an operating system too)</p>
        <p>What does an operating system do? It works with the hardware. The keyboard, mouse and monitor are
            some of the hardware it works with. The processor, memory, and disk drives are also hardware that
            works with the operating system. The job of the operating system is to make the hardware available to
            the apps that run on it. Not only that, the operating system is also in charge of moving and saving data.
            Every byte of data in the system goes through the operating system. In a personal computer (PC) the data
            goes from the keyboard to the monitor, then from the monitor to the disk drive or internet.</p>
        <h4>The Linux operating system powers the internet, and it can power your home and business too!</h4>
        <p>Linux operating systems have been in use and evolving for 30 years, involving thousands of
            programmers from all over the world. Linux is far more stable than MS Windows or Mac OS
            which is why IT professionals choose Linux for their internet servers.</p>
        <p>With that in mind, I would like to ask you some questions.</p>
    </div>
    <div class="questions">
        <ul>
            <li>Does your computer ever freeze up, or do things you did not tell it to do?</li>
            <li>Does your PC upgrade itself automatically, even when you turn auto-upgrade off?</li>
            <li>Are you comfortable with your computer recording everything you do and <br>
                sending that data to a server somewhere without your knowledge or consent?</li>
        </ul>
    </div>
    <div class="answers">
        <p>If you answered yes to any of those questions, there is another option!<br>
        Free and Open Source Software; FOSS<br>
        and a Linux operating system<br><br>
        M3 Consulting will help you convert your PC to the freedom of choice and Open Source</p>
    </div>

{% endblock content %}
