<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <!-- local css -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <!-- the page title can be dynamic -->
    {% if title %}
        <title>M3Consulting - {{ title }}</title>
    {% else %}
        <title>M3Consulting</title>
    {% endif %}
</head>
<body>
<!--    page header contains navigation bar-->
    <header class="container">
        <div class="row">
            <div class="col-3"></div>
            <div class="col-6">
    <!-- banner graphic -->
                <img id="myLogo" class="img-fluid" src="{{ url_for('static', filename='img/ConsultLogoOneLine.png') }}">
                <h5>Your local advocate for free and open source software</h5>
            </div>

            <div class="col-3"></div>
        </div>
    </header>

    <nav class="navbar navbar-expand-md navbar-dark bg-blue">
        <div class="container">
            <a class="navbar-brand mr-4" href="/">M3Consulting Menu</a>
<!-- this will collapse the nav menu into a "hamburger" button drop down menu when viewed on small screen-->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggle">
              <div class="navbar-nav mr-auto">
                  <a class="nav-item nav-link" href="https://m3consulting.xyz/">Home</a>
                  <a class="nav-item nav-link" href="https://m3consulting.xyz/about">About</a>
                  <a class="nav-item nav-link" href="{{ url_for('main.blog') }}">Blog</a>
                  <a class="nav-item nav-link" href="https://m3consulting.xyz/links">Resource Database</a>
              </div>
<!-- Navbar Right Side -->
              <div class="navbar-nav ms-auto">
                  {% if current_user.is_authenticated %}
                    <a class="nav-item nav-link" href="{{ url_for('posts.new_post') }}">New Post</a>
                    <a class="nav-item nav-link" href="{{ url_for('users.account') }}">Account</a>
                    <a class="nav-item nav-link" href="{{ url_for('users.logout') }}">Logout</a>
                  {% else %}
                    <a class="nav-item nav-link" href="{{ url_for('users.login') }}">Login</a>
                    <a class="nav-item nav-link" href="{{ url_for('users.register') }}">Register</a>
                  {% endif %}
              </div>
          </div>
        </div>
    </nav>

    <main role="main" class="container mt-4">
        <div class="row">
<!-- posts get 8 columns of width-->
            <div class="col-md-8">
<!-- messages if present show at top of posts -->
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
<!-- bootstrap creates colored box for message to display in-->
                            <div class="alert alert-{{ category }}">
                               {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                {% block content %}{% endblock %}
            </div>
<!-- sidebar gets 4 colums of width-->
            <div class="col-md-4">
                <div class="fungraphic">
                    <img class="img-fluid" src="{{ url_for('static', filename='img/LinuxRoot.png') }}" alt="Fun Graphic">
                </div>
                <div class="content-section">
                    <h3>GOT AN OLD COMPUTER?</h3>
                        <p>Is your computer old, sluggish, tired, or just not working as well as it once did? Does the box and monitor look perfectly fine?</p>
                        <p>Don’t change the computer, change the software that runs on it. There is a huge assortment of free and open source
                            software that will bring new life to that tired old computer.</p>
                        <h4>Contact Macks at M3Consulting to find out more.</h4>
<!--                        <h5>call or text: 603.801.2853</h5>-->
<!--                        <h5>email: m3consulting@pm.me</h5>-->
<!--                        <h5>website: m3consulting.xyz</h>-->
                </div>
                <div class="pt-4 tagLine">
                    <p>Contact M3Consulting for help with</p>
                    <ul>
                        <li>Operating system upgrades</li>
                        <li>Website development and hosting</li>
                        <li>Computer and network troubleshooting</li>
                        <li>Education and training services</li>
                    </ul>
                </div>
            </div>
        </div>
    </main>

    <footer>
        <h3>Take back your Digital Freedom!</h3>
        <h5>email: m3consulting@pm.me - call or text: 603.801.2853</h5>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>

